
.creatUserBG {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdata.whicdn.com%2Fimages%2F311484332%2Foriginal.gif&f=1&nofb=1");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*table {*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0, 0.4); !* Black w/opacity/see-through *!*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    text-align: right;*/
/*    border: 3px solid #f1f1f1;*/
/*    position: absolute;*/
/*    top: 35%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 2;*/
/*    width: 25%;*/
/*    padding: 20px;*/
/*}*/

/*th {*/
/*    column-span: all;*/
/*}*/
.creatUserContent {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 25%;
    padding: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
    flex-direction: column;
}

.flex-container > div {
    width: 300px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.loginButton {
    background-color: mediumvioletred;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 12px;
}

.loginButton:hover {
    background-color: violet;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 12px;
}

.glow {
    font-size: 15px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #F30505, 0 0 30px #e60008, 0 0 40px #F30505, 0 0 50px #F30505, 0 0 60px #F30505;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 30px #ec2e3d, 0 0 30px #ec2e3d, 0 0 50px #ec2e3d, 0 0 50px #ec2e3d, 0 0 60px #ec2e3d, 0 0 70px #ec2e3d;
    }
}